# If you want to use a URI, you can set this variable

# Otherwise, you can use COFFEEBOT_FILENAME and it will create a SQLite
# database in the project's folder
# COFFEEBOT_DATABASE_URI=sqlite:////mattermost-coffeebot/sqlite.db
COFFEEBOT_DATABASE_FILENAME=sqlite.db

COFFEEBOT_MATTERMOST_URL=mattermost.com
COFFEEBOT_MATTERMOST_USERNAME=username
COFFEEBOT_MATTERMOST_PASSWORD=password

COFFEEBOT_MATTERMOST_TEAM=team
COFFEEBOT_MATTERMOST_CHANNEL=coffee-buddies
